<h1>Editar Cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<table class="table table-dark">
  <div class="container-fluid">
    <%= link_to "Mostrar Cliente", @cliente %> |
    <%= link_to "Volver a Clientes", clientes_path %>
  </div>
</table>