
  <p style="color: green"><%= notice %></p>


  <h1>Mostrar Clientes</h1>

  <table class="table table-dark">
    <div id="clientes" class="container-fluid">
        <% @clientes.each do |cliente| %>
          <%= render cliente %>
          <p>
            <%= link_to "Mostrar este cliente", cliente %>
            <%= link_to "Agregar Nuevo Cliente", new_cliente_path  %>
          </p>
        <% end %>
    </div>

</table>

    




